.task {
  width: 46rem;
  height: 4.5rem;
  margin-top: 1.5rem;
  padding: 1rem;
  background-color: var(--gray-500);
  border: 1px solid var(--gray-400);
  border-radius: 8px;
}

.undoneTask {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.875rem;
  color: var(--gray-100);
}

.undoneCircle {
  color: var(--blue-400);
}

.undoneCircle:hover {
  color: var(--blue-600);
  cursor: pointer;
  transition: all 0.3s;
}

.doneTasks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: line-through;
  color: var(--gray-300);
}

.doneCircle {
  color: var(--purple-600);
}

.doneCircle:hover {
  color: var(--purple-400);
  cursor: pointer;
  transition: all 0.3s;
}

.trash {
  color: var(--gray-300);
}

.trash:hover {
  background: var(--gray-400);
  border-radius: 4px;
  color: var(--red-400);
  cursor: pointer;
  transition: all 0.3s;
}
